.gallery{
    background-image: url("../img/desert.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}
.gallery-box{   
    padding-top: 1.5rem;
    margin-left: 1.5rem;
    width: 30VH;
}
.gallery-box-title{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.gallery-box-descript{
    font-size: 1.25rem;
    font-weight: 500;
    margin-left: .75rem;
    margin-top: .95rem;
    text-align: justify;
    text-transform: lowercase;
}
.gallery-box-images{
    display: grid;
    grid-template-columns: 25vh 25vh 25vh 25vh;
    grid-template-rows: 25vh 25vh 25vh 25vh;
    grid-gap: 0.20rem;
    width: 130vh;
}
.gallery-box-images-item{
    box-sizing: border-box;
    border: 1px solid antiquewhite;
    margin: 10px 0 10px 0;
}
.gallery-box-images-item:first-child{
    background-image: URL("../img/1.jpg");
    background-size: cover;
    grid-column: 1 / 4;
    grid-row: 1 / 4;
}
.gallery-box-images-item:nth-child(2){
    background-image: URL("../img/2.jpg");
    background-size: cover;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}
.gallery-box-images-item:nth-child(3){
    background-image: URL("../img/3.jpg");
    background-size: cover;
    grid-column: 4 / 5;
    grid-row: 2 / 3;

}
.gallery-box-images-item:nth-child(4){
    background-image: URL("../img/4.jpg");
    background-size: cover;
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}
.gallery-box-images-item:nth-child(5){
    background-image: URL("../img/5.jpg");
    background-size: cover;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}
.gallery-box-images-item:nth-child(6){
    background-image: URL("../img/6.jpg");
    background-size: cover;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
.gallery-box-images-item:nth-child(7){
    background-image: URL("../img/7.jpg");
    background-size: cover;
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}
.gallery-box-images-item:nth-child(8){
    background-image: URL("../img/1.jpg");
    background-size: cover;
    grid-column: 4 / 5;
    grid-row: 4 / 5;
}