.tours{
    background-image: url("../img/city.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.texts-tours{
    padding-top: 15px;
}
.title-section{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.descript-section{
    font-size: 1rem;
    font-weight: 500;
    margin-top: 15px;
    text-align: center;
    text-transform: lowercase;
}
.tours-options{
    display: flex;
    justify-content: space-between;
    margin: 50px 50px 0px 50px;
}
.tours-item{
    align-items: center;
    box-sizing: border-box;
    border: solid whitesmoke 1px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;    
    height: 300px;
    text-align: center;
    width: 250px;
}
.tour-item-title{
    font-size: .85rem;
    font-weight: 700;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.tour-item-text{
    font-size: .75rem;
    font-weight: 500;
    margin-bottom: 5px;
}
.tours-item:first-child{
    background-image: url("../img/london.jpg");
    background-size: cover;
    background-repeat: repeat;
    color: antiquewhite;
}
.tours-item:nth-child(2){
    background-image: url("../img/nyc.jpg");
    background-size: cover;
    background-repeat: repeat;
}
.tours-item:nth-child(3){
    background-image: url("../img/paris.jpg");
    background-size: cover;
    background-repeat: repeat;
}
.tours-item:last-child{
    background-image: url("../img/toquio.jpg");
    background-size: cover;
    background-repeat: repeat;
    color: antiquewhite;
}
.tours-item:hover{
    border: solid 5px #161616 ;
    cursor: pointer;
    transform: scale(1.25);
}