* {
    font-family: 'EB Garamond', sans-serif;
    color: #ddd;
}

a {
    text-decoration: none;
}

.menu {
    display: flex;
    gap: .5rem;
    padding: 1rem;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: bold;
}

.menu-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.menu-list-item a {
    color: #d56f00;
}

.menu-list-item a:hover {
    color: #ddd;
}

.main {
    background-image: url('img/main.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.main-title {
    text-align: center;
    padding-top: 10rem;
    font-size: 10rem;
    color: #ddd;
    font-family: 'Shadows Into Light', sans-serif;
}

.about-us {
    display: flex;
    height: 100vh;
}

.about-us-img {
    background-image: url('img/about-us.jpg');
    background-size: cover;
    width: 50%;
}

.about-us-img h2 {
    font-family: 'Shadows Into Light';
    padding-top: 2rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
}

.about-us-text {
    width: 50%;
    background-color: rgba(0, 0, 0, 0.6);
}

.about-us-text p:first-child {
    padding-top: 20px;
}

.text-content {
    margin-bottom: 30px;
    font-size: 18px;
    text-align: justify;
    padding: 10px 20px 10px 20px;
}

.text-content:nth-child(2) {
    text-align: center;
    color: #d2b55b;
}

.about-us-button {
    border: 1px solid #cca01d;
    width: 10rem;
    background-color: #cca01d;
    border-radius: 25px;
    margin: 0 auto;
}

.about-us-button:hover {
    background-color: #fed24c;
    border-color: #fed24c;
}

.about-us-button p {
    text-align: center;
    padding-bottom: 20px;
}

.tours {
    background-image: url('img/tours.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
    padding-bottom: 2rem;
}

.tours-title {
    font-size: 2.5rem;
    font-family: 'Shadows Into Light';
    font-weight: bold;
    margin: 0 auto;
    padding-top: 2rem;
}

.tours-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    padding: 40px 20px;
}

.tours-list-item {
    border: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.8);
    line-height: 1.5rem;
    cursor: pointer;
    padding: 10px;
}

.tours-list-item:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.tours-list-item img {
    height: 20rem;
}

.tours-list-item h3 {
    font-size: 25px;
}

.tours-list-item p {
    font-weight: 700;
    font-size: 15px;
}

.tours-button {
    width: max-content;
    margin: 0 auto;
    border: #cca01d solid 3px;
    background-color: #cca01d;
}

.tours-button p {
    padding: 15px 10px;
    font-weight: 100;
    text-transform: lowercase;
    font-family: 'Shadows Into Light';
    font-size: 20px;
    letter-spacing: 1px;
}

.tours-button:hover {
    background-color: #fed24c;
    border-color: #fed24c;
}

.contact {
    background-color: #fed24c;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact-box {
    width: 50%;
}

.contact-box h2 {
    font-family: 'Shadows Into Light';
    font-weight: bold;
    color: #51aff7;
    text-align: center;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.contact-box p {
    color: #2a2a2a;
    line-height: 30px;
    padding-left: 2rem;
    font-weight: 700;
    font-size: 20px;
}

.contact-icons {
    padding: 1rem 0;
}

.contact-icons ul {
    display: flex;
    padding-left: 2rem;
    gap: 10px;
}

.contact-icons i {
    color: #000;
    font-size: 25px;
}

.contact-icons a {
    cursor: pointer;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    width: 400px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0 10px 20px;
}

.contact-form textarea{
    height: 150px;
}

.contact-form input[type="submit"]{
    width: fit-content;
    background-color: #cca01d;
    color: #eee9e9;
    cursor: pointer;
}
.contact-form input[type="submit"]:hover{
    background-color: #eee9e9;
    color: #cca01d;
}
footer {
    width: 100%;
    text-align: center;
    background-color: #cca01d;
    padding: 1rem 0;
}

/*tablets*/
@media (max-width: 900px) {
    .menu {
        font-size: 20px;
    }

    .tours-list {
        justify-content: space-around;
        gap: 33px;
    }

    .tours-list-item img {
        height: 200px;
    }

    .about-us-img h2 {
        font-size: 2rem;
    }

    .text-content {
        font-size: 1rem;
        margin-bottom: 20px;
    }

    .about-us-button {
        width: 100px;

    }
    .contact-form input,
    .contact-form textarea{
        width: 200px;
    }
}

/*smartphones*/
@media (max-width:576px) {
    .menu {
        font-size: 17px;
        justify-content: center;

    }

    .menu-title {
        display: none;
    }

    .main-title {
        font-size: 5rem;
    }

    .about-us {
        display: block;
        background-image: none;
        background-color: #fed24c;
        padding: 30px;
        height: 100vh;
    }

    .about-us-img {
        background-image: none;
        width: 100%;
    }

    .about-us-text {
        background-color: #fed24c;
        width: 100%;
    }

    .text-content:nth-child(2) {
        color: #51aff7;
        font-weight: bold;
    }

    .about-us-button {
        background-color: #51aff7;
        border-color: #51aff7;
    }

    .tours {
        height: max-content;
        background-image: none;
        background-color: #51aff7;
    }

    .tours-list {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .tours-list-item {
        width: fit-content;
    }
    .contact{
        flex-direction: column;
    }
    .contact-box{
        width: 100%;
    }
    .contact-box p{
        text-align: center;
    }

    .contact-icons ul{
       justify-content: center;
    }
    .contact-form form{
        align-items: center;
    }
    .contact-form textarea{
        height: 80px;
    }
}